* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #333;
    font-family: 'Orbitron', sans-serif;
}

body #game-title {
    width: 100%;
    background-color: blueviolet;
    margin-top: 0;
    margin-bottom: 5px;
    box-shadow: 0px 3px #222;
}

body #game-title h2 {
    color: #FAFAFA;
    padding: 10px;
    text-align: center;
}

body #game-content {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}